@model IEnumerable<CheckoutItemViewModel>

<!-- NAVIGATION -->
<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<!-- NAV -->
			<ul class="main-nav nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Hot Deals</a></li>
				<li><a asp-controller="Category" asp-action="All">Categories</a></li>
			</ul>
			<!-- /NAV -->
		</div>
		<!-- /responsive-nav -->
	</div>
	<!-- /container -->
</nav>
<!-- /NAVIGATION -->
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<h3 class="breadcrumb-header">Regular Page</h3>
				<ul class="breadcrumb-tree">
					<li><a href="#">Home</a></li>
					<li class="active">My Games</li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			@if (Model.Any())
			{
				@foreach (var purchasedGame in Model)
				{
					<div class="card" style="width: 18rem;">
						<img src="@Url.Content($"~/{purchasedGame.GameImagePath}")" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">@purchasedGame.GameTitle</h5>
							<p class="card-text">@purchasedGame.PriceAtPurchase</p>
							<a href="#" class="btn btn-primary">View activation key</a>
						</div>
					</div>
				}
			}
			else
			{
				<h2>You have not purchased any game yet!</h2>
			}
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->