<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<!-- NAV -->
			<ul class="main-nav nav navbar-nav">
				<li class="active"><a>Home</a></li>
				<li><a asp-controller="Category" asp-action="All">Categories</a></li>
				<li><a asp-controller="Game" asp-action="OwnedGames">My Games</a></li>
			</ul>
			<!-- /NAV -->
		</div>
		<!-- /responsive-nav -->
	</div>
	<!-- /container -->
</nav>
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- shop -->
			<a asp-controller="Game" asp-action="GamesByCategory" asp-route-id="1">
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="~/images/Categories/actionGames.jpg" alt="">
					</div>
					<div class="shop-body">
						<h3>Action<br>Titles</h3>
						<a asp-controller="Game" asp-action="GamesByCategory" asp-route-id="1" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			</a>
			<!-- /shop -->
			<!-- shop -->
			<a asp-controller="Game" asp-action="GamesByCategory" asp-route-id="2">
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="~/images/Categories/horrorGames.jpg" alt="">
						</div>
						<div class="shop-body">
							<h3>Horror<br>Titles</h3>
							<a asp-controller="Game" asp-action="GamesByCategory" asp-route-id="2" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
			</a>
			<!-- /shop -->
			<!-- shop -->
			<a asp-controller="Game" asp-action="GamesByCategory" asp-route-id="5">
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="~/images/Categories/sportGames.jpg" alt="">
						</div>
						<div class="shop-body">
							<h3>Sport<br>Titles</h3>
							<a asp-controller="Game" asp-action="GamesByCategory" asp-route-id="5" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
			</a>
			<!-- /shop -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<partial name="_NewGames" model="@(ViewBag.LatestGames as IEnumerable<GamesViewModel>)" />
<!-- /SECTION -->
<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="hot-deal">
					<h2 class="text-uppercase" style="color:white;">Embark on Epic Adventures</h2>
					<p style="color:white;">Unleash the hero within and dive into a realm where fantasy and reality collide. </p>
					<a class="primary-btn cta-btn" asp-controller="User" asp-action="Register">Sign up now</a>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->
<!-- SECTION -->
<partial name="_TopSellingGames" model="@(ViewBag.TopSellingGames as IEnumerable<TopSellingGameViewModel>)" />
<!-- /SECTION -->