@{
    ViewData["Title"] = "Gamefinity";
    ViewData["Description"] = "Your digital gateway to the latest and greatest in video games, where every click unveils new worlds to explore.";
}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Welcome to @ViewData["Title"]</h1>
        <h2>@ViewData["Description"]</h2>
        <a href="#about" class="btn-get-started">Get Started</a>
    </div>
</section><!-- End Hero Section -->
