@model CheckoutViewModel
<!-- NAVIGATION -->
<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<!-- NAV -->
			<ul class="main-nav nav navbar-nav">
				<li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
				<li><a>Hot Deals</a></li>
				<li><a asp-controller="Category" asp-action="All">Categories</a></li>
			</ul>
			<!-- /NAV -->
		</div>
		<!-- /responsive-nav -->
	</div>
	<!-- /container -->
</nav>
<!-- /NAVIGATION -->
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<h3 class="breadcrumb-header">Checkout</h3>
				<ul class="breadcrumb-tree">
					<li><a asp-controller="Home" asp-action="Index">Home</a></li>
					<li class="active">Checkout</li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /BREADCRUMB -->
<form method="post">


<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<div class="col-md-7">
				<!-- Billing Details -->
				<div class="billing-details">
					<div class="section-title">
						<h3 class="title">Billing address</h3>
					</div>
					<div class="form-group">
						<input class="input" type="text" name="address" placeholder="Address" asp-for="BillingData.Address">
					</div>
					<div class="form-group">
						<input class="input" type="text" name="city" placeholder="City" asp-for="BillingData.City">
					</div>
					<div class="form-group">
						<input class="input" type="text" name="country" placeholder="Country" asp-for="BillingData.Country">
					</div>
					<div class="form-group">
						<input class="input" type="text" name="zip-code" placeholder="ZIP Code" asp-for="BillingData.ZipCode">
					</div>
					<div class="form-group">
						<input class="input" type="tel" name="tel" placeholder="Telephone" asp-for="BillingData.PhoneNumber">
					</div>
				</div>
				<!-- /Billing Details -->
				<!-- Order notes -->
				<div class="order-notes">
					<textarea class="input" placeholder="Order Notes" asp-for="BillingData.OrderNotes"></textarea>
				</div>
				<div>
					<input class="input" type="text" name="discount-code" placeholder="Discount code">
				</div>
				<!-- /Order notes -->
			</div>

			<!-- Order Details -->
			<div class="col-md-5 order-details">
				<div class="section-title text-center">
					<h3 class="title">Your Order</h3>
				</div>
				<div class="order-summary">
					<div class="order-col">
						<div><strong>PRODUCT</strong></div>
						<div><strong>TOTAL</strong></div>
					</div>
					<div class="order-products">
						@if (Model.Items.Count() <= 0)
						{
							<h3>No added products into your cart</h3>
						}
						else
						{
							@foreach (var product in Model.Items)
							{
								<div class="order-col">
									<div>@product.GameTitle</div>
									<div>$@product.PriceAtPurchase</div>
								</div>
							}
						}
					</div>
					<div class="order-col">
						<div><strong>TOTAL</strong></div>
						<div><strong class="order-total">$@Model.TotalPrice</strong></div>
					</div>
				</div>
				<div class="payment-method">
					<div class="input-radio">
						<input type="radio" name="payment" id="payment-1">
						<label for="payment-1">
							<span></span>
							Credit or Debir Card
						</label>
						<div class="caption">
							<p>You pay using your credit or debit card.</p>
						</div>
					</div>
					<div class="input-radio">
						<input type="radio" name="payment" id="payment-2">
						<label for="payment-2">
							<span></span>
							Account balance
						</label>
						<div class="caption">
							<p>You pay using your balance into your account.</p>
						</div>
					</div>
					<div class="input-radio">
						<input type="radio" name="payment" id="payment-3">
						<label for="payment-3">
							<span></span>
							Paypal System
						</label>
						<div class="caption">
							<p>You pay using your paypal account.</p>
						</div>
					</div>
				</div>
				<div class="input-checkbox">
					<input type="checkbox" id="terms">
					<label for="terms">
						<span></span>
						I've read and accept the <a href="#">terms & conditions</a>
					</label>
				</div>
					<input type="submit" class="primary-btn order-submit" value="Submit order">
					@* <a href="#" class="primary-btn order-submit">Place order</a> *@
			</div>
			<!-- /Order Details -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
</form>
<!-- NEWSLETTER -->
<div id="newsletter" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="newsletter">
					<p>Sign Up for the <strong>NEWSLETTER</strong></p>
					<form>
						<input class="input" type="email" placeholder="Enter Your Email">
						<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
					</form>
					<ul class="newsletter-follow">
						<li>
							<a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-pinterest"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /NEWSLETTER -->